<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineArgumentsParser" version="3.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="NJsonSchema" version="2.41.6006.20160" targetFramework="net461" />
  <package id="NJsonSchema.CodeGeneration" version="2.41.6006.20162" targetFramework="net461" />
  <package id="ReflectionBridge" version="0.0.11" targetFramework="net461" />
</packages>